body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
    margin: 0.5rem 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
    color: #fff;
}

h3 {
    font-size: 1rem;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.block {
    border-radius: 0.5rem;
    background-color: #0066b2;
    padding: 1rem;
    margin: 0.5rem;
}

.row.center {
    align-items: center;
}

img.small {
    max-height: 10rem;
    border-radius: 0.3rem;
}

button {
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: 0.1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #404040;
    background-color: #f0c040;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}